*{
    margin:0;
    box-sizing:0;
    padding: 0;
}

body{
    background-color: #0F0F0F;
    overflow-x: hidden;
}

.card-container{
    height:350px;
    background-color: aliceblue;
    transform: translate(5%,50%);
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:1rem;
    
    overflow-x: hidden;
}

.card-container .card{
    min-height: 18rem;
    min-width: 18rem;
    display: block;
    background-color: red;
    /* transform: translateX(0px); */
}

.btn-container{
    transform: translate(50%,250px);
    display: flex;
    gap:1rem;
}

.btn-container button{
    height: 55px;
    width:55px;
    border-radius:100%;
    font-size: 28px;
    background-color: transparent;
    border:2px solid #E11D48;
    color:#E11D48;
}

.btn-container button:hover{
    background-color: #E11D48;
    color: aliceblue;
    cursor: pointer;
}